* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

.app-container {
  height: 100vh;
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.col .title h1 {
  color: white;
  padding: 10px;
  border-radius: 10px;
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

.col .title h1:hover {
  background: rgba(0,0,0,0.1);
}

.col button {
  color: white;
  border: none;
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  font-size: 25px;
  transition: background 0.2s ease-in-out;
  outline: none;
  cursor: pointer;
}

.col button:hover {
  background: rgba(0,0,0,0.1);
}

.intro {
  position: absolute;
  color: white;
  font-weight: bold;
  user-select: none;
  white-space: nowrap;
  font-size: 72px;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.col .title {
  position: relative;
}

.col .title .popup {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

.col .title .popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.col .title .showPopup {
  visibility: visible;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}